.counter {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 8em;
    height: 2em;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}