.mainContainer {
    width: 100%;
    min-height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 7px 7px 7px 12px #efeded;
    background-color: white;
}

button {
    width: 6em;
    font-size: 2em;
    padding: .3em 1em;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: crimson;
    transition: .3s;
}

button:hover {
    transform: scale(1.05);
}