.age-restriction {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    position: relative;
    padding: 2em;
}

h1 {
    font-size: 3.5vw;
    transition: 0.2s;
}

p {
    width: 50%;
}

.blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.prompt {
    background-color: whitesmoke;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    z-index: 9;
    border-radius: 12px;
    transition: 0.4s;
}

.prompt p {
    text-align: center;
    color: gray;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.btn button {
    width: 10em;
    border: none;
    height: 2em;
    color: white;
    border-radius: 9px;
    font-size: 1.1em;
    transition: 0.3s;
}

.btn button:hover {
    transform: scale(1.05);
}

.no {
    background-color: #ff0000;
}

.yes {
    background-color: green;
}

.notfound {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3em;
    background-color: gray;
}

@media (max-width:900px) {
    h1 {
        font-size: 5vw;
    }
}

@media (max-width:600px) {
    h1 {
        font-size: 2em;
    }

    .prompt p {
        font-size: 1em;
    }

    .prompt {
        width: 80%;
        height: 90%;
    }

    .btn {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .notfound {
        font-size: 1em;
    }
}