.card {
    width: 220px;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 2.5em; */
}

.card:hover {
    transform: scale(1.05);
}
.pic{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: whitesmoke;
}
.card h1 {
    font-size: 2em;
}
.skills{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card p {
    color: #555;
}

.card h2 {
    color: #8d34e0;
    font-size: 1em;
}