.main {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

form {
    width: 90%;
    height: 90%;
    padding: 1em;
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4em;
    flex-direction: column;
    transition: .3s;
}

form h1 {
    font-size: 3em;
    transition: .3s;
}

.inps {
    width: 90%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;
}

.inps input {
    width: 100%;
    height: 1.5em;
    font-size: 1em;
    border: 1px solid #e0dfdf;
    border-radius: 7px;
    outline: none;
    transition: .2s;
    padding: 1em;
    color: #555;
    transition: .3s;
}

.inps input:hover {
    transform: scale(1.05);
}

button {
    font-size: 1.2em;
    padding: .3em .9em;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #2b65e2;
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
}

p {
    color: #fc4545fd;
}

@media (min-width:650px) {
    form {
        gap: 3em;
    }

    form h1 {
        font-size: 4em;
    }

    .inps {
        width: 70%;
    }

    .inps h2 {
        font-size: 1.8em;
    }

    .inps input {
        font-size: 1.4em;
        height: 3em;
    }

    button {
        font-size: 1.5em;
        border-radius: 7px;
    }
}