.product {
    width: 250px;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.product img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

.product h2 {
    color: #555;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

.product h3 {
    color: rgb(146, 45, 241);
    font-size: 1.2em;
}

.product span {
    font-size: 1em;
}

.discount {
    color: green;
    display: flex;
    gap: 3px;
}

@media (max-width:450px) {
    .product h2 {
        font-size: 1em;
    }
}