.main {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 3em;
    padding: 2em;
}

.main h1 {
    font-size: 3em;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
}