.login {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

h1 {
    font-size: 6em;
    transition: all 0.4s;
}

button {
    background-color: blueviolet;
    color: white;
    font-size: 2em;
    padding: 0.5em 2em;
    border: none;
    border-radius: 12px;
    transition: 0.3s;
    transition: all 0.4s;
}

button:hover {
    transform: scale(1.1);
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

@media (max-width:570px) {
    h1 {
        font-size: 3em;
    }

    button {
        font-size: 1.5em;
        padding: 0.6em 2em;
    }
}