/* Main Dashboard */
.mainDashboard {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}

.signIn {
    width: 500px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 12px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    color: #555;
    transition: all 0.3s;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 1em;
    transition: all 0.3s;
}

.btn button {
    width: 10em;
    height: 2em;
    font-size: 1.1em;
    border-radius: 7px;
    border: 1px rgb(187, 187, 187) solid;
    color: black;
    transition: 0.3s;
}

.btn button:hover {
    transform: scale(1.05);
}

@media (max-width:650px) {
    .signIn {
        width: 80%;
        height: 80%;
    }

    .btn {
        display: flex;
        flex-direction: column;
    }
}

/* admin dashboard */
.admin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    width: 50%;
    height: 100%;
    padding: 1em;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box2 {
    width: 50%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
}

.box2 .tools {
    width: 90%;
    height: 10vh;
    background-color: white;
    border-radius: 7px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.tools:hover {
    box-shadow: 3px 3px 3px rgb(230, 228, 228);
    transform: scale(1.02);
}

.tools button {
    width: 10em;
    height: 2.5em;
    border: none;
    border-radius: 4px;
}

.tools button:hover {
    border: 1px solid #cbcaca;
    transform: scale(1.05);
}

.user {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2em;
}

.userbox1 {
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    height: 100%;
    padding: 1em 6em;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    border-right: 1px solid #cfcdcd;
}

.userbox1 h2 {
    transition: 0.3s;
}

.userbox1 h2:hover {
    transform: scale(1.1);
}

.userbox2 {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userbox2 h1 {
    font-size: 3vw;
}

@media (max-width:950px) {
    .admin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box1 {
        width: 100%;
    }

    .box2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tools button {
        width: 8em;
        height: 2em;
    }

    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .userbox1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        border: none;
        gap: 1.5em;
    }

    .userbox2 {
        width: 100%;
    }

    .userbox2 h1 {
        font-size: 2em;
    }
}

@media (max-width:550px) {
    .box1 h1 {
        font-size: 3em;
    }

    .tools {
        gap: 1em;
    }

    .tools h3 {
        font-size: 1em;
    }

    .userbox1 h2 {
        font-size: 0.7em;
    }

    .userbox2 h1 {
        font-size: 1.3em;
    }
}